input{
    color:#4c4f69;
    background-color: #eff1f5;
    border-color: #4c4f69;
    border: 1.5px solid #4c4f69;
    border-radius: 6px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 4px;
}
input::placeholder{
    color:#4c4f69;
    opacity: 0.5;
}
input:focus{
    outline: none;
    border-color: #2ba050
}
@media (prefers-color-scheme: dark){
    input{
        background-color: #24273a;
        color:#cad3f5 !important;
        border-color: #4c4f69;
    }
    input::placeholder{
        color:#cad3f5;
        opacity: 0.5;
    }
    input:focus{
        outline: none;
        border-color: #95daa7;
    }
}